__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.env
*.cache
build/
dist/
node_modules/
frontend/node_modules/
frontend/dist/
mlruns/
data/
test-results/
.vscode/
.git/
.gitignore
infrastructure/
